{% extends "base.html" %}
{% block content %}



<h1>{{task.nimi}}</h1>

<form method="post" action="{{base_path}}/task/{{task.id}}/destroy" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form>

<p>
    <a class="btn btn-default btn-sm" href="{{base_path}}/task/{{task.id}}/edit">Muokkaa</a>
</p>
 
<ul>
    <li><strong>Lisäyspäivä:</strong>{{task.lisays}}</li>
            <li><strong>Deadline:</strong>{{task.deadline}}</li>
            
</ul>

<div>
    
    <h3>Kategoriat: 
    {% for kategory in kategories %}
    {% for kate in kategory %}
    
    {{kate}}
    
    {% endfor %}
    {% endfor %}
    </h3>
</div>

<p>
    {{task.kuvaus}}
</p>

    
{% endblock %}




