{% extends "base.html" %}
        {% block content %}
        <h1>Käyttäjän Henriikka kategoriat</h1>

        <p>
            <a href="#" class="btn btn-success">Lisää kategoria</a>
        </p>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nimi</th>
                   <th>Lisäyspäivä</th>
                </tr>
            </thead>

            <tbody>
                <!-- Listataan kategoriat tähän -->
                <tr>
                    <td><a href="#">Kouluhommia</a></td>
                    <td>23.3.2017</td>
                    <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
                </tr>
            </tbody>
        </table>
        {% endblock %}
