{% extends "base.html" %}
{% block content %}
<h1>{{kategory.nimi}}</h1>

<form method="post" action="{{base_path}}/kategories/{{kategory.id}}/destroy" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form>

<p>
    <a class="btn btn-default btn-sm" href="{{base_path}}/kategories/{{kategory.id}}/edit">Muokkaa</a>
</p>
 
<ul>
    <li><strong>Lisäyspäivä:</strong>{{kategory.lisays}}</li>            
</ul>


<p>
    {{kategory.kuvaus}}
</p>


  

{% endblock %}
